@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Inter Tight";
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8efff;
/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}


::selection{
  background-color: #9333ea;
  color: #fff;
}